<app-nav></app-nav>
<app-banner></app-banner>
<!-- <div *ngFor="let key of Object.keys(requests)">
    <app-row [title]="key" [fetchUrl]="requests[key]"></app-row>
</div> -->
<app-row title="Netflix Originals" [fetchUrl]="requests.NetflixOriginals"></app-row>
<app-row title="Trending" [fetchUrl]="requests.Trending"></app-row>
<app-row title="Top Rated" [fetchUrl]="requests.TopRated"></app-row>
<app-row title="Action Movies" [fetchUrl]="requests.ActionMovies"></app-row>
<app-row title="Comedy Movies" [fetchUrl]="requests.ComedyMovies"></app-row>
<app-row title="Romance Movies" [fetchUrl]="requests.RomanceMovies"></app-row>
<app-row title="Documentaries" [fetchUrl]="requests.DocumentariesMovies"></app-row>
<app-row title="Horror Movies" [fetchUrl]="requests.HorrorMovies"></app-row>

